/* ./src/index.css */
@import 'tailwindcss';

@theme {
  /* ===== Fonts ===== */
  --font-roboto: Roboto, sans-serif;
  --font-poppins: Poppins, sans-serif;

  /* ===== Breakpoints ===== */
  --breakpoint-xs: 360px;  /* small phones */
  --breakpoint-ip:390px;
  --breakpoint-sm: 410px;  /* custom small breakpoint */
  --breakpoint-md: 765px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  
  
  /* Heading ka text */
  --text-phone: 2.95rem;   /* 10px */
  --text-small: 2.25rem;   /* 12px */
  --text-medium: 3rem; /* slightly larger */
  --text-large: 3.25rem; 
  --text-xlarge: 3.50rem;     /* large heading */
  
  /* paragraph wala text */
  --text-p_para:0.5rem;
  --text-s_para:0.75rem;
  --text-m_para:1rem;
  --text-l_para:1.25rem;
  --text-xl_para:1.5rem;
  
  
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

