@import "tailwindcss";

/* Define your custom screens ONLY for this component */
@theme {
  --breakpoint-xs: 360px;
  --breakpoint-ip: 390px;
  --breakpoint-sm: 410px;
  --breakpoint-md: 765px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

/* Optional: add custom utilities or overrides here */
@layer components {
  .heading-text {
    @apply font-bold text-center text-[1.8rem] text-transparent bg-clip-text;
  }
}
